<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="es" ng-app="app" ng-controller="varController">
<head>
    <title>VARS CONTROL</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/mach.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">

</head>

<script type='text/javascript'>
function initApp(){
	//cncMachineController.init();
	//cncMachineView.init();
}
</script>

<body onload="initApp()">

<div class="page">
<div class="vcformach">
<div class="vccolscontainer">

<script type="text/javascript">

function performClick() {
   var evt = document.createEvent("MouseEvents");
   evt.initEvent("click", true, false);
}


</script>


<div id="menu">
    <div class="col-md-12">
        <p style="font-size: 18px;" id="machineName">VARS CONTROL</p>
    </div>
</div>


<div class="colscad-1 relleno"">

    <div id="vars" class="row">
        <div class="col-md-4">
            VarType (V,W) <input type="text" ng-model="varType"></input>
        </div>
        <div class="col-md-4">
            VarNumber <input type="text" ng-model="varNumber"></input>
        </div>
        <div class="col-md-4">
            <button class="btn-primary btn btn-orange" ng-click="getVar()">GET VAR</button>
        </div>
    </div>
    <div class="row">
        <h2><label>Get Result: {{getResult}}</label></h2>
    </div>
    <div class="clear"></div>
    <h2>EDITORS</h2>

    <div class="row">
        <div class="col-md-2">
            Select Editor Type
        </div>
        <div class="col-md-2">
            <select ng-model="editor" ng-options="e.id for e in listEditor">
            </select>
        </div>
        <div class="col-md-2">
        <button class="btn-primary btn btn-orange" style="float: right; margin-right: 5px;" ng-click="getEditor(editor)">Get Editor</button>
        </div>
        <div class="col-md-2">
            <button class="btn-primary btn btn-orange" style="float: right; margin-right: 5px;" ng-click="clearEditor()">Clear Editor</button>
        </div>
        <div class="col-md-2">
            <button class="btn-primary btn btn-orange" style="float: right; margin-right: 5px;" ng-click="compilePLC()">COMPILE PLC</button>
        </div>
        <div class="col-md-2">
        <button class="btn-primary btn btn-orange" style="float: right; margin-right: 5px;" ng-click="setEditor(editor)">Set Editor</button>
        </div>
    </div>
    <div class="row">
        <span class="label-info" ng-show="editorMessage">{{editorMessage}}</span>
        <textarea rows="60" cols="80" ng-model="Editor">
        </textarea>
    </div>




</div>




</div>

<div class="clear"></div>
</div>
</div>

<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/varController.js"></script>

</body>
</html>